body {
  margin: 0%;
  padding: 0%;
  background: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  display: flex;
}

.hero img {
  width: 33, 33%;
  height: 350px;
  object-fit: cover;
}

.itemlist1 {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin: 90px 20px;
}

.item img {
  width: 200px;
  height: 270px;
}

.item a {
  text-decoration: none;
}
