* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
  color: #0a3641;
}

main {
  background-color: white;
  max-width: 80%;
  margin: 0 auto;
}

/* hero image*/
.hero {
  position: relative;
}

.hero-image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 4rem;
}

.hero-overlay {
  position: absolute;
  width: 40%;
  right: 20%;
  top: 5%;
}

.hero-overlay2 {
  position: absolute;
  width: 25%;
  left: 5%;
  top: 37%;
}

h1 {
  position: absolute;
  left: 5%;
  top: 20%;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 4rem;
}

h2 {
  position: absolute;
  left: 5%;
  top: 30%;
  font-weight: lighter;
}

/* items */
.itemlist-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2rem;
}

.itemlist-grid img {
  height: 400px;
}

.item {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit);
  margin-bottom: 4rem;
  transition: transform 0.5s;
}

.item:hover {
  transform: scale(1.05);
}

.itemlist-grid h3 {
  margin-top: 1rem;
}

/* Media Query */
@media screen and (max-width: 1620px) {
  .itemlist-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1280px) {
  .herotext {
    font-size: 3rem;
  }

  .herotext2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 961px) {
  .herotext {
    font-size: 2rem;
  }

  .herotext2 {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 820px) {
  .itemlist-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 643px) {
  .herotext {
    font-size: 1.5rem;
  }

  .herotext2 {
    font-size: 0.67rem;
  }

  .hero-overlay {
    right: 5%;
    top: 5%;
  }

  .itemlist-grid img {
    height: 350px;
  }
}
