* {
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #0a3641;
  --secondary-color: #e1ebed;
  --white-color: #f9f9f9;
}

body {
  background-color: #ffff;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin: 50px auto;
}

.account-box {
  background-color: var(--secondary-color);
  color: white;
  display: flex;
}

.left-account {
  flex-basis: 60%;
  padding: 40px 60px;
}

.right-contact {
  flex-basis: 40%;
  padding: 40px;
  background-color: var(--main-color);
}

h1,
h2 {
  margin-bottom: 2rem;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: lighter;
  color: var(--main-color);
}

p {
  color: var(--main-color);
  margin-top: 2rem;
}

.account {
  animation: account 2s forwards;
  left: -1000px;
  position: relative;
}

@keyframes account {
  0% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}

.right {
  color: var(--secondary-color);
}

.left-account h2 {
  color: var(--main-color);
}

.right-contact h2 {
  color: var(--secondary-color);
}

.container p {
  margin-bottom: 2rem;
}

.input {
  display: block;
  justify-content: space-between;
  margin-bottom: 2rem;
}

input {
  width: 100%;
  border: none;
  background: var(--secondary-color);
  border-bottom: 1px solid #ccc;
  outline: none;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 0.3rem;
  box-sizing: border-box;
}

.input-headline {
  margin-bottom: 1rem;
  margin-top: 2rem;
  display: block;
  color: var(--main-color);
  font-size: 1rem;
}

button {
  background: var(--main-color);
  width: 150px;
  border: none;
  outline: none;
  color: var(--secondary-color);
  font-size: 1rem;
  height: 50px;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  transition-duration: 0.4;
}

button:hover {
  background-color: var(--white-color);
  color: var(--main-color);
}

.checkbox {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  font-size: 0.8rem;
}

.checkbox input {
  width: 17px;
  height: 17px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  overflow: hidden;
}

/* Media Query */
@media screen and (max-width: 860px) {
  .account-box {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column;
    align-content: center;
  }

  .right-contact {
    width: 100%;
  }
}
