body {
  margin: 0;
  background: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.container {
  width: 80%;
  margin-left: 100px;
  display: flex;
}

header {
  background: #d9d2d3;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  padding: 20px 0;
  display: flex;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  justify-content: space-evenly;
  margin-left: 100px;
  padding-top: 20px;

  position: relative;
}

nav a {
  text-transform: uppercase;
  color: #80838c;
  font-size: 16px;
  text-decoration: none;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: "";
  display: block;
  height: 4px;
  background-color: #3f4045;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

h1 {
  font-family: raleway;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-family: raleway;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
h3 {
  font-family: raleway;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}
