body {
  margin: 0;
  background: #f9f9f9;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin-left: 100px;
  display: flex;
}

header {
  background: #d9d2d3;
}

.logo {
  float: left;
}

.icons {
  text-align: right;
  justify-content: space-evenly;
}

nav a {
  text-transform: uppercase;
  color: #80838c;
  font-size: 16px;
  text-decoration: none;
}

h1 {
  font-family: raleway;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

h2 {
  font-family: raleway;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

h3 {
  font-family: raleway;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  justify-content: space-evenly;
}

.homepage1 {
  max-width: 300px;
}

.homepage2 {
  max-width: 300px;
}

.men {
  border-radius: 50%;
}

.women {
  border-radius: 50%;
}

.bergen {
  border-radius: 50%;
}

.bryggen {
  border-radius: 50%;
}
