<!DOCTYPE html>
<html dir="ltr">
  <%- await include("templates/head", {page: "/"}) %>
  <body>
    <%- await include("templates/nav", {page: "/"}) %>

    <main class="page">

      <section class="error">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="display-1">Oops!</h1>
              <h4 class="mt-4">Page not found. Please go back.</h4>
            </div>
          </div>
        </div>
      </section>

    </main>

    <%- await include("templates/footer", {page: "/"}) %>
  </body>
</html>