<!DOCTYPE html>
<html dir="ltr">
  <%- await include("templates/head", {page: "/"}) %>
  <body>
    <!-- Inkluder nav -->
    <%- await include("templates/nav", {page: "/"}) %>

    <!-- Sørg for at ingenting går utenfor `main` elementet -->
    <main class="page">

      <!-- Bruk `section` fremfor `div` elementer for hver seksjon -->
      <section class="hero">
        <!-- Tekstinnhold, samt bilder går inni her -->
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1 class="display-1">Get inspired</h1>
              <h4 class="mt-4">Jackets for every occasion</h4>
            </div>
          </div>
        </div>
      </section>

    </main>

    <!-- Inkluder `footer` elementet på hver side -->
    <%- await include("templates/footer", {page: "/"}) %>
  </body>
</html>